# ENVIROUNMENT
ENV=lab

# COMMON
HOST=salt.${ENV}
DOMAIN=bukatchuk.com

TEMPLATES_DIR=templates
SCRIPTS_DIR=scripts

# YOUSTACK
YOUSTACK_VERSION="1.0.0"
YOUSTACK_SERVER=${HOST}.${DOMAIN}

# SALTSTACK
SALTSTACK_VERSION="3007.13"
SALTSTACK_IN_DOCKER=false
SALTSTACK_SERVER=${YOUSTACK_SERVER}

# SALTMINION
SALTMINION_VERSION=${SALTSTACK_VERSION}
SALTMINION_IN_DOCKER=${SALTSTACK_IN_DOCKER}
#SALTMINION_HOSTS=$(declare -a saltMinionsHosts=("192.168.1.99","192.168.1.100"))

# POWERDNS
POWERDNS_VERSION=""
POWERDNS_IN_DOCKER=false
POWERDNS_SERVER=${YOUSTACK_SERVER}

# OPENLDAP
OPENLDAP_VERSION=""
OPENLDAP_IN_DOCKER=false
OPENLDAP_SERVER=${YOUSTACK_SERVER}

# FREEIPA
FREEIPA_VERSION=""
FREEIPA_IN_DOCKER=false
FREEIPA_SERVER=${YOUSTACK_SERVER}

# GITLAB
GITLAB_VERSION=""
GITLAB_IN_DOCKER=false
GITLAB_SERVER=${YOUSTACK_SERVER}

# GITEA
GITEA_VERSION=""
GITEA_IN_DOCKER=false
GITEA_SERVER=${YOUSTACK_SERVER}

# JENKINS
JENKINS_VERSION=""
JENKINS_IN_DOCKER=false
JENKINS_SERVER=${YOUSTACK_SERVER}

# TRIVY
TRIVY_VERSION=""
TRIVY_IN_DOCKER=false
TRIVY_SERVER=${YOUSTACK_SERVER}

# HARBOR
HARBOR_VERSION=""
HARBOR_IN_DOCKER=false
HARBOR_SERVER=${YOUSTACK_SERVER}

# SONARQUBE
SONARQUBE_VERSION=""
SONARQUBE_IN_DOCKER=false
SONARQUBE_SERVER=${YOUSTACK_SERVER}

# NEXUS
NEXUS_VERSION=""
NEXUS_IN_DOCKER=false
NEXUS_SERVER=${YOUSTACK_SERVER}

# NORA
NORA_VERSION=""
NORA_IN_DOCKER=false
NORA_SERVER=${YOUSTACK_SERVER}

# GRAYLOG
GRAYLOG_VERSION=""
GRAYLOG_IN_DOCKER=false
GRAYLOG_SERVER=${YOUSTACK_SERVER}

# OPENVPN
OPENVPN_VERSION=""
OPENVPN_IN_DOCKER=false
OPENVPN_SERVER=${YOUSTACK_SERVER}

# WIREGUARD
WIREGUARD_VERSION=""
WIREGUARD_IN_DOCKER=false
WIREGUARD_SERVER=${YOUSTACK_SERVER}

# WIREGUARDUI
WIREGUARDUI_VERSION=""
WIREGUARDUI_IN_DOCKER=false
WIREGUARDUI_SERVER=${YOUSTACK_SERVER}

# PRITUNL
PRITUNL_VERSION=""
PRITUNL_IN_DOCKER=false
PRITUNL_SERVER=${YOUSTACK_SERVER}

# PLANE
PLANE_VERSION=""
PLANE_IN_DOCKER=false
PLANE_SERVER=${YOUSTACK_SERVER}

# KAN
KAN_VERSION=""
KAN_IN_DOCKER=false
KAN_SERVER=${YOUSTACK_SERVER}

# JITSI
JITSI_VERSION=""
JITSI_IN_DOCKER=false
JITSI_SERVER=${YOUSTACK_SERVER}

# SEAWEEDFS
SEAWEEDFS_VERSION=""
SEAWEEDFS_IN_DOCKER=false
SEAWEEDFS_SERVER=${YOUSTACK_SERVER}

# MINIO
MINIO_VERSION=""
MINIO_IN_DOCKER=false
MINIO_SERVER=${YOUSTACK_SERVER}

# N8N
N8N_VERSION=""
N8N_IN_DOCKER=false
N8N_SERVER=${YOUSTACK_SERVER}

# MAILCOW
MAILCOW_VERSION=""
MAILCOW_IN_DOCKER=true
MAILCOW_SERVER=${YOUSTACK_SERVER}

# GRAFANA
GRAFANA_VERSION=""
GRAFANA_IN_DOCKER=false
GRAFANA_SERVER=${YOUSTACK_SERVER}

# ALERTMANAGER
ALERTMANAGER_VERSION=""
ALERTMANAGER_IN_DOCKER=false
ALERTMANAGER_SERVER=${YOUSTACK_SERVER}

# KARMA
KARMA_VERSION=""
KARMA_IN_DOCKER=false
KARMA_SERVER=${YOUSTACK_SERVER}

# PROMETHEUS
PROMETHEUS_VERSION=""
PROMETHEUS_IN_DOCKER=false
PROMETHEUS_SERVER=${YOUSTACK_SERVER}

# VICTORIAMETRICS
VICTORIAMETRICS_VERSION=""
VICTORIAMETRICS_IN_DOCKER=false
VICTORIAMETRICS_SERVER=${YOUSTACK_SERVER}

# NETDATA
NETDATA_VERSION=""
NETDATA_IN_DOCKER=false
NETDATA_SERVER=${YOUSTACK_SERVER}

# SENTRY
SENTRY_VERSION=""
SENTRY_IN_DOCKER=false
SENTRY_SERVER=${YOUSTACK_SERVER}

# OPENSEARCH
OPENSEARCH_VERSION=""
OPENSEARCH_IN_DOCKER=false
OPENSEARCH_SERVER=${YOUSTACK_SERVER}

# ELASTICSEARCH
ELASTICSEARCH_VERSION=""
ELASTICSEARCH_IN_DOCKER=false
ELASTICSEARCH_SERVER=${YOUSTACK_SERVER}

# KIBANA
KIBANA_VERSION=""
KIBANA_IN_DOCKER=false
KIBANA_SERVER=${YOUSTACK_SERVER}

# NETBOX
NETBOX_VERSION=""
NETBOX_IN_DOCKER=false
NETBOX_SERVER=${YOUSTACK_SERVER}

# CONSUL
CONSUL_VERSION=""
CONSUL_IN_DOCKER=false
CONSUL_SERVER=${YOUSTACK_SERVER}

# FABIO
FABIO_VERSION=""
FABIO_IN_DOCKER=false
FABIO_SERVER=${YOUSTACK_SERVER}

# VAULT
VAULT_VERSION=""
VAULT_IN_DOCKER=false
VAULT_SERVER=${YOUSTACK_SERVER}

# CERTMATE
CERTMATE_VERSION=""
CERTMATE_IN_DOCKER=false
CERTMATE_SERVER=${YOUSTACK_SERVER}

# KAFKA
KAFKA_VERSION=""
KAFKA_IN_DOCKER=false
KAFKA_SERVER=${YOUSTACK_SERVER}

# KAFKAUI
KAFKAUI_VERSION=""
KAFKAUI_IN_DOCKER=false
KAFKAUI_SERVER=${YOUSTACK_SERVER}

# KAFKAREST
KAFKAREST_VERSION=""
KAFKAREST_IN_DOCKER=false
KAFKAREST_SERVER=${YOUSTACK_SERVER}

# REDIS
REDIS_VERSION=""
REDIS_IN_DOCKER=false
REDIS_SERVER=${YOUSTACK_SERVER}

# REDISINSIGHT
REDISINSIGHT_VERSION=""
REDISINSIGHT_IN_DOCKER=false
REDISINSIGHT_SERVER=${YOUSTACK_SERVER}

# RABBITMQ
RABBITMQ_VERSION=""
RABBITMQ_IN_DOCKER=false
RABBITMQ_SERVER=${YOUSTACK_SERVER}

# YOPASS
YOPASS_VERSION=""
YOPASS_IN_DOCKER=false
YOPASS_SERVER=${YOUSTACK_SERVER}

# MAUTIC
MAUTIC_VERSION=""
MAUTIC_IN_DOCKER=false
MAUTIC_SERVER=${YOUSTACK_SERVER}

# VIPMANAGER
VIPMANAGER_VERSION=""
VIPMANAGER_IN_DOCKER=false
VIPMANAGER_SERVER=${YOUSTACK_SERVER}

# KEEPALIVED
KEEPALIVED_VERSION=""
KEEPALIVED_IN_DOCKER=false
KEEPALIVED_SERVER=${YOUSTACK_SERVER}

# POSTGRESQL
POSTGRESQL_VERSION=""
POSTGRESQL_IN_DOCKER=false
POSTGRESQL_SERVER=${YOUSTACK_SERVER}

# POWA
POWA_VERSION=""
POWA_IN_DOCKER=false
POWA_SERVER=${POSTGRESQL_SERVER}

# MYSQL
MYSQL_VERSION=""
MYSQL_IN_DOCKER=false
MYSQL_SERVER=${YOUSTACK_SERVER}

# PHPMYADMIN
PHPMYADMIN_VERSION=""
PHPMYADMIN_IN_DOCKER=false
PHPMYADMIN_SERVER=${YOUSTACK_SERVER}

# CLICKHOUSE
CLICKHOUSE_VERSION=""
CLICKHOUSE_IN_DOCKER=false
CLICKHOUSE_SERVER=${YOUSTACK_SERVER}

# CASSANDRA
CASSANDRA_VERSION=""
CASSANDRA_IN_DOCKER=false
CASSANDRA_SERVER=${YOUSTACK_SERVER}

# INFLUXDB
INFLUXDB_VERSION=""
INFLUXDB_IN_DOCKER=false
INFLUXDB_SERVER=${YOUSTACK_SERVER}

# MONGODB
MONGODB_VERSION=""
MONGODB_IN_DOCKER=false
MONGODB_SERVER=${YOUSTACK_SERVER}

# NEO4J
NEO4J_VERSION=""
NEO4J_IN_DOCKER=false
NEO4J_SERVER=${YOUSTACK_SERVER}

# AIRFLOW
AIRFLOW_VERSION=""
AIRFLOW_IN_DOCKER=false
AIRFLOW_SERVER=${YOUSTACK_SERVER}

# SUPERSET
SUPERSET_VERSION=""
SUPERSET_IN_DOCKER=false
SUPERSET_SERVER=${YOUSTACK_SERVER}

# TRINO
TRINO_VERSION=""
TRINO_IN_DOCKER=false
TRINO_SERVER=${YOUSTACK_SERVER}

# ZOOKEEPER
ZOOKEEPER_VERSION=""
ZOOKEEPER_IN_DOCKER=false
ZOOKEEPER_SERVER=${YOUSTACK_SERVER}

# ROCKETCHAT
ROCKETCHAT_VERSION=""
ROCKETCHAT_IN_DOCKER=false
ROCKETCHAT_SERVER=${YOUSTACK_SERVER}

# # 
# _VERSION=""
# _IN_DOCKER=false
# _SERVER=${YOUSTACK_SERVER}
